<main>
  <div class="container center top">
    <div class="row g-3">
      <div class="col-4">
        <div class="card cardWidth">
          <img src="..." class="card-img-top" alt="Upload PDF IMAGE" />
          <div class="card-body">
            <h5 class="card-title">Upload PDF</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Voluptas dicta in doloribus adipisci maiores
              dolores exercitationem voluptate quam voluptatum, hic
              consequuntur, aliquam sequi soluta tenetur nesciunt. Corrupti,
              natus asperiores? Numquam?</p>
            <a href="/uploadFile" class="btn btn-primary">upload PDF</a>
            <a href="/getFiles" class="btn btn-success">PDF</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>